.brand__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
}

.brand__item {
    margin-top: 30px;
    margin-left: 30px;
    height: 92px;

    flex-basis: calc((100% - 2 * 30px) / 2);

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 3 * 30px) / 3);
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 6 * 30px) / 6);
    }

}


.brand__link {
    box-sizing: border-box;
    height: 100%;
    /* padding: 15px 31px; */
    border: 1px solid map-get($color, 'default-icon');
    border-radius: 4px;
    color: map-get($color, 'default-icon');

    @extend %flex-center;

    &:hover {
        color: map-get($color, 'accent');
        border-color: map-get($color, 'accent');
    }
}