.work {
    padding-top: 0;

    @media screen and (max-width: ($desktop - 1)) {
        display: none;
    }
}

.work__list {
    // margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.work__item {
    position: relative;
}

.work__image {
    display: block;
}

.work__label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 20px;

    font-weight: 700;
    font-size: inherit;
    line-height: 1.143;
    text-transform: uppercase;
    color: map-get($color, 'secondary-light');
    text-align: center;

    background-color: rgba(47, 48, 58, 0.8);
}